<div class='row'>

 <article class=" col-xs-4">
            <div class=" form article col-xs-12 ">

                <header>
                    <div class="title">

                        <label>Responsive Design</label>
                    </div>
                </header>
                <hr>
                <main>
                    <div class="main-img">
                        <i class="fa fa-desktop fa-5x  icon-round  faa-ring animated"></i>
                    </div>
                    <hr>
                    <div class="main-text">

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>

                </main>
                <hr>
                <footer class="row">
                    <div class=" col-xs-6">
                        <label>06/01/2017</label>
                    </div>
                    <div class="col-xs-6">
                        <label>cavayman</label>
                    </div>
                </footer>
            </div>
        </article>
        <article class=" col-xs-4">
            <div class=" form article col-xs-12 ">

                <header>
                    <div class="title">

                        <label>Easy To Customize</label>
                    </div>
                </header>
                <hr>
                <main>
                    <div class="main-img">
                    <i class="fa fa-paper-plane-o  fa-5x icon-round  faa-pulse animated"></i>
                    </div>
                    <hr>
                    <div class="main-text">

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>

                </main>
                <hr>
                <footer class="row">
                    <div class=" col-xs-6">
                        <label>06/01/2017</label>
                    </div>
                    <div class="col-xs-6">
                        <label>cavayman</label>
                    </div>
                </footer>
            </div>
        </article>
        <article class=" col-xs-4">
            <div class=" form article col-xs-12 ">

                <header>
                    <div class="title">

                        <label>Clean Coding used</label>
                    </div>
                </header>
                <hr>
                <main>
                    <div class="main-img">
                    <i class="fa fa-bullhorn  fa-5x icon-round faa-horizontal animated"></i>
                    </div>
                    <hr>
                    <div class="main-text">

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>

                </main>
                <hr>
                <footer class="row">
                    <div class=" col-xs-6">
                        <label>06/01/2017</label>
                    </div>
                    <div class="col-xs-6">
                        <label>cavayman</label>
                    </div>
                </footer>
            </div>
        </article>
        
</div>   
<hr>
<div class='row'>

 <article class=" col-xs-4">
            <div class=" form article col-xs-12 ">

                <header>
                    <div class="title">

                        <label>Руслан</label>
                    </div>
                </header>
                <hr>
                <main>
                    <div class="main-img">
                        
                        <i class=" fa fa-desktop fa-5x  icon-round  faa-ring animated"></i>
                    </div>
                    <hr>
                    <div class="main-text">

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>

                </main>
                <hr>
                <footer class="row">
                    <div class=" col-xs-6">
                        <label>06/01/2017</label>
                    </div>
                    <div class="col-xs-6">
                        <label>cavayman</label>
                    </div>
                </footer>
            </div>
        </article>
        <article class=" col-xs-4">
            <div class=" form article col-xs-12 ">

                <header>
                    <div class="title">

                        <label>Жопо</label>
                    </div>
                </header>
                <hr>
                <main>
                    <div class="main-img">
                    <i class="fa fa-paper-plane-o  fa-5x icon-round  faa-pulse animated"></i>
                    </div>
                    <hr>
                    <div class="main-text">

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>

                </main>
                <hr>
                <footer class="row">
                    <div class=" col-xs-6">
                        <label>06/01/2017</label>
                    </div>
                    <div class="col-xs-6">
                        <label>cavayman</label>
                    </div>
                </footer>
            </div>
        </article>
        <article class=" col-xs-4">
            <div class=" form article col-xs-12 ">

                <header>
                    <div class="title">

                        <label>Дрочєр</label>
                    </div>
                </header>
                <hr>
                <main>
                    <div class="main-img">
                    <i class="fa fa-bullhorn  fa-5x icon-round faa-horizontal animated"></i>
                    </div>
                    <hr>
                    <div class="main-text">

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>

                </main>
                <hr>
                <footer class="row">
                    <div class=" col-xs-6">
                        <label>06/01/2017</label>
                    </div>
                    <div class="col-xs-6">
                        <label>cavayman</label>
                    </div>
                </footer>
            </div>
        </article>
   
</div>