.navigation {
    padding: 1% 0% 0 0%;
    width: 100%;
    height: 20%;
    color: snow;
    cursor: default;
}
.navigation hr {
    margin: 1% 1% 0 1%;
}
/*логотип на менюшкці*/
.logo {
    font-size: 2em;
    float: left;
}
.logo > .fa {
    animation-name: logoChangeColor;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes logoChangeColor {
    0% {
        color: #00ffff;
    }
    33% {
        color: #FF69B4;
    }
    66% {
        color: #8000ff;
    }
    100% {
        color: #00ffff;
    }

}
.navigation ul {
    height: 40px;
}
/*кнопки на менюшці*/
.buttons {
    float: right;
}
.buttons li {
    padding: 0.3% 0 0 0;
    height: 100%;
    font-size: 1.7em;
    list-style-type: none;
    transition: 0.2s;
    border-left: 1px solid snow;
}
/*нажимання на кнопку*/
.buttons > li:hover {
    color: #ded9d9;
    cursor: pointer;
}
/*Login*/
.login{
    z-index: 1;
    visibility: hidden;
    width: 21.9%;
    height: auto;
    color:snow;
    position:fixed;
    left:75.1%;
    margin-top: 0.9%;
    background-color:#7054FF ;
}
.login .faq-buttons{
    font-size:0.8em;
}
.login .checkbox{
    margin:0;
}
.login > label{
    float:left;
    padding-top: 1%;
}
.login > hr {
    margin: 5px;
}
.login > .faq-buttons{
    float:none;
    padding-top: 1%;
}
.login .faq-buttons label:hover{
    color:#ded9d9;
    cursor: pointer;
    text-decoration: underline;
}
.login .forg-me{
    border-left:1px solid snow;
    position: relative;
    display: block;
}
