<!-- WARNING BIDLO CODE -->
<footer class="site-footer">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-xs-4" social>
        <h3 class="footer-title">Social</h3>
        <hr>
        <div class="social-links">
          <ul class="footer-links">
            <li><a href="https://plus.google.com/" class="google" target="_blank">
                        &nbsp;<i class="fa fa-google-plus"></i>
                    </a></li>
            <li>
              <a href="https://www.facebook.com/" class="facebook" target="_blank">
                <i class="fa fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a href="https://vk.com/" class="vk" target="_blank">
                <i class="fa fa-vk"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/Cavayman" class="twitter" target="_blank">
                <i class="fa fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-4" newsSender>
        <h3 class="footer-title">Newsletter</h3>
        <hr>
        <form id="sub-form">
          <div class="input-group">
            <input type="email" class="form-control" [(ngModel)]="str" [ngModelOptions]="{standalone: true}" placeholder="Email Address" required id="sub-email" >
            <span class="input-group-btn">
                            <button class="btn btn-default" (click)='sendEmail()'>Subscribe <i class="fa fa-envelope"></i> </button>
                            </span> </div>
        </form>
      </div>
      <div class="col-xs-4" usefulLinks>
        <h3 class="footer-title">Useful Links</h3>
        <hr>
        <ul class="footer-links">
          <li><a class="foot-link" href="#"><i class="fa fa-github"></i>Github</a></li>
          <li><a class="foot-link" href="#"><i class="fa fa-google-plus"></i>Google Plus</a></li>
          <li><a class="foot-link" href="#"><i class="fa fa-facebook-square"></i>Facebook</a></li>
          <li><a class="foot-link" href="#"><i class="fa fa-vk"></i>VK</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="footer-copyright">
          <p class="pull-left">&copy; Cavayman & Alione. All Right Reserved.</p>
          <ul class="pull-right footer-social">
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-vk"></i></a></li>
            <li><a href="#"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>