.navigation {
    width: 100%;
    position: fixed;
    top:0;
    background-color:#23272C;
    color: snow;
    cursor: default;
    z-index: 2;
    max-height:80px;
    padding:1% 0 1% 0 ;
}
.navigation  ul{
    list-style:none; 
    font-size: 0.9em;
    height:50px;
    text-align: center;
    line-height: 50px;
}   

img{
    width:100px; 
    height: 50px;
}

 a {
     text-decoration: none ;
  }
a:hover
  {
    color:white;
    text-decoration:none;
    cursor:pointer;
   }
   a {color:white;}      /* unvisited link */
   a:hover {color:white;}  /* mouse over link */
a:active {color:white;}  /* selected link */

ul li:hover{
    color:#7D848A;
}
ul li:hover{
    color:#7D848A;
}